@import '../../../App.scss';

.Sidebar {
  border: 1px solid $light-grey;
  width: 26vw;
  margin: 0em 1.5em 0em 1.5em;

  .AccordionSummary {
    margin: -6px -1px;
    border: 1px solid $light-grey;
    border-bottom: none;
  }
}
