@import '../../../../index.scss';

.Container {
  max-width: 100%;
  width: 100%;
  .TopHeading {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    padding: 0.8em 0.8em;
    margin-bottom: 0em;
    box-shadow: $shadow2;
    color: #ffff;
    display: flex;
    justify-content: space-between;

    > p {
      margin: 0;
      font-size: 1.2em;
      font-weight: 600;
      display: flex;
      align-items: center;
      > svg {
        transform: scale(1.1);
        margin-right: 0.3em;
        &:hover {
          background-color: #eeeeee59;
          opacity: 0.2;
        }
      }
    }
  }
  .OrdersTab {
    width: 100%;
    margin-top: 3.8em;

    .Order {
      padding: 0.4em;
      border-bottom: 1px solid $light-grey;
      background-color: $white-grey;
      margin-bottom: 0.6em;

      > p:nth-child(1) {
        font-size: 1em;
        // border-top: 1px solid $mid-grey;
        border-bottom: 1px solid $light-grey;
      }
      > p:nth-child(2) {
        color: $dark-grey;
        font-weight: 600;
        padding: 0.1em;
        margin-top: 0.2em;
      }
      > p:nth-child(3) {
        color: $dark-grey;
        font-weight: 700;
        // color: $primary-color;
        font-size: 1.1em;
        padding: 0.1em;
        padding-bottom: 0.2em;
        border-bottom: 1px solid $light-grey;
      }

      .OrderDelivered {
        font-weight: 700;
        font-size: 1em;
        color: #ffff;
        margin-top: 0.4em;
        background-color: $primary-color;
        position: relative;
        margin-right: 0.2em;
        width: 40%;
        left: 60%;
        border-radius: 0.8em;
        padding: 0.2em 0;
        text-align: center;
      }
      .PaymentPending {
        font-weight: 700;
        font-size: 1em;
        color: #ffff;
        margin-top: 0.4em;
        background-color: #f5b428;
        position: relative;
        margin-right: 0.8em;
        width: 40%;
        left: 58%;
        border-radius: 0.8em;
        padding: 0.2em 0.2em;
        text-align: center;
      }
      .OrderProcessing {
        font-weight: 700;
        font-size: 1em;
        color: #ffff;
        margin-top: 0.4em;
        background-color: #2393d3;
        position: relative;
        margin-right: 0.8em;
        width: 40%;
        left: 58%;
        border-radius: 0.8em;
        padding: 0.2em 0.2em;
        text-align: center;
      }
    }
  }
}
