@import '../../../../App.scss';

.ProductCard {
  cursor: pointer;
  padding: 0.4em 0 0 0;
  display: flex;

  img {
    width: 30%;
  }
  .Container {
    padding: 0.4em;
    p {
      text-decoration: none;
      font-size: 1.1em;
      margin-bottom: 0.095em;
    }
    .Price {
      color: $dark-grey;
      font-size: 1.1em;
      font-weight: 600;
      margin: -0.6em 0 0 0;
    }
  }
  &:hover {
    .Container {
      font-weight: 600;
    }
  }
}
