@import '../../../../App.scss';

.SliderContainer {
  // margin: 0.2em .2em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Slides {
  padding: 0.8em 0;
  // margin-left: -0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
