@import '../../../index.scss';

.Container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $white-grey;
  max-height: 70%;
  padding: 1.6em 1em;
  .LeftWrapper {
    width: 60%;
    max-height: 75vh;
    background-color: #ffff;
    box-shadow: $shadow2;
    display: flex;
    flex-direction: column;
    .Heading {
      padding: 0.6em 0.8em;
      border-bottom: 2px solid $light-grey;
      font-size: 1.26em;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .LeftContainer {
      background-color: #ffff;
      overflow-x: hidden;
      box-shadow: $shadow2;
      overflow-y: auto;
      max-height: 100%;

      .EmptyCartMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.6em 0.6em;
        font-size: 1.4em;
        a {
          text-decoration: none;
          cursor: pointer;
          margin-left: 0.3em;
          margin-top: 0.26em;
          border: none;
          outline: none;
          background-color: #ffff;
          display: flex;
          align-items: center;
          font-size: 1em;
          color: $primary-color;
          font-weight: 600;
          transition: all 0.2s;
          svg {
            font-size: 1.06em;
            margin-top: 0.26em;
            transition: all 0.1s;
            margin-left: 0.1em;
          }
          &:hover {
            color: $blue-color;
          }
        }
      }
    }
  }
  .RightWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5em;
    width: 25%;
    .RightContainer {
      width: 100%;
      background-color: #ffff;
      box-shadow: $shadow2;
      > p:nth-child(1) {
        padding: 1em;
        font-size: 1.2em;
        color: $mid-grey;
        font-weight: 600;
        border-bottom: 1px solid $light-grey;
      }
      > div:nth-child(2) {
        padding: 1em 1.6em 0.2em 1.6em;
        p {
          margin-bottom: 0.76em;
          font-size: 1.16em;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-weight: 600;
            color: $primary-color;
          }
        }
        > p:nth-child(4) {
          font-size: 1.2em;
          padding: 0.6em 0;
          border-top: 1.6px dashed $light-grey;
          border-bottom: 1.6px dashed $light-grey;
          font-weight: 600;
        }
      }
      button {
        border-radius: 1px;
        width: 100%;
        outline: none;
        border: none;
        cursor: pointer;
        color: #ffff;
        padding: 0.8em 0.8em;
        font-size: 1.3em;
        font-weight: 600;
        transition: all 0.2s;
        background-image: linear-gradient(
          to right,
          $primary-color 0%,
          #93f9b9 0%,
          #38b88b 100%
        );
        &:hover {
          //   box-shadow: $shadow1;
          transform: scale(1.016);
          box-shadow: $shadow2;
        }
        &:disabled {
          cursor: not-allowed;
          background-color: $light-grey;
          color: #fffefe;
          background-image: none;
          &:hover {
            transform: scale(1);
            box-shadow: none;
          }
        }
      }
    }
    > span:nth-child(2) {
      margin-top: 1.2em;
      display: flex;
      align-items: center;
      svg {
        font-size: 2em;
        margin-right: 0.1em;
        color: $mid-grey;
      }
      p {
        font-size: 1em;
        color: $mid-grey;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .Container {
    flex-direction: column;
    padding: 0em 0em;
    max-height: 100%;
    .LeftWrapper {
      width: 100%;
      max-height: 70%;
      .Heading {
        padding: 0.5em 0.8em;
        font-size: 1.16em;
      }
      .LeftContainer {
        .EmptyCartMessage {
          padding: 1.6em 0em;
          font-size: 0.95em;
          width: 100%;
          a {
          }
        }
      }
    }
    .RightWrapper {
      width: 100%;
      margin-left: 0;
      margin-top: 1em;
      box-shadow: $shadow2;
      .RightContainer {
        > p:nth-child(1) {
          color: $dark-grey;
        }
      }

      > span:nth-child(2) {
        width: 65%;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        svg {
          font-size: 1.8em;
          margin-right: 0.1em;
        }
        p {
          font-size: 0.85em;
        }
      }
    }
    .PlaceOrder {
      position: fixed;
      padding: 0.3em 0.6em 0.22em 0.6em;
      border-top: 1px solid $light-grey;
      bottom: 0;
      width: 95%;
      background-color: #ffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 80;
      > p {
        display: flex;
        flex-direction: column;
        font-size: 1.36em;
        font-weight: 600;
        margin: 0;
        > span {
          color: $primary-color;
          font-size: 0.7em;
          margin: 0;
          padding: 0;
        }
      }
      > button {
        width: 40%;
        outline: none;
        height: 100%;
        border-radius: 0.2em;
        border: none;
        cursor: pointer;
        color: #ffff;
        padding: 0.6em 0.8em;
        font-size: 1.2em;
        font-weight: 600;
        transition: all 0.2s;
        background-image: linear-gradient(
          to right,
          $primary-color 0%,
          #93f9b9 0%,
          #38b88b 100%
        );
        &:hover {
          //   box-shadow: $shadow1;
          transform: scale(1.016);
          box-shadow: $shadow2;
        }
      }
    }
  }
}
