@import '../../../App.scss';

.ProdcutPage {
  margin: 2em;
  padding: 1em;
  .Container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    .ImageWrapper {
      width: 85%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      img {
        width: 80%;
      }
      span {
        margin-top: 0.4em;
        img {
          border: 2px solid $mid-grey;
          width: 15%;
        }
      }
    }

    .ProdcutInfo {
      width: 75%;
      > p:nth-child(1) {
        font-size: 2.2em;
        font-weight: 600;
        color: $dark-grey;
      }
      > p:nth-child(2) {
        margin: 0em 0 0.4em 0;
        font-size: 1.1em;
        color: $mid-grey;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          font-size: 1em;
          font-weight: 600;
          margin-left: 0.1em;
          color: $primary-color;

          &:hover {
            color: $mid-grey;
          }
        }
      }
      .Rating {
        padding-bottom: 0.4em;
        margin-bottom: 0.8em;
        border-bottom: 1px solid $light-grey;
        max-width: 30%;
        display: flex;
        align-items: center;
        > span:nth-child(2) {
          font-size: 0.9em;
          margin-left: 0.3em;
          color: $dark-grey;
          font-weight: 600;
        }
      }

      .Price {
        padding: 0.5em 1.2em 0.5em 1.1em;
        background-color: #e7ffecee;
        max-width: 12%;
        border-radius: 0.4em;
        display: flex;
        justify-content: center;
        overflow: hidden;
        p {
          font-size: 1.4em;
          margin: 0;
          color: rgb(97, 116, 98);
          margin-right: 0.1em;
          font-weight: 600;
        }
        div {
          font-size: 1.8em;
          margin: 0;
          font-weight: 700;
          color: $primary-color;
          overflow-wrap: break-word;
          margin-right: 0.2em;
        }
      }

      > p:nth-child(5) {
        margin: 1em 0.2em;
        width: 70%;
        font-size: 1em;
        font-weight: 500;
        color: $dark-grey;
      }
      > p:nth-child(6) {
        display: flex;
        color: $mid-grey;
        margin-bottom: 1em;
        span {
          display: flex;
          margin: 0 0 0 0.4em;
          a {
            color: $dark-grey;
            font-weight: 600;
            text-decoration: none;
            margin-right: 0.3em;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
      .ButtonWrapper {
        display: flex;
        padding: 1.6em 0.5em;
        border-top: 1px solid $light-grey;
        justify-content: flex-start;
        button {
          cursor: pointer;
          border: none;
          outline: none;
          background-image: linear-gradient(
            to right,
            #1d976c 0%,
            #73e69d 51%,
            #1d976c 100%
          );
          padding: 0.8em 1.2em;
          display: flex;
          align-items: center;
          transition: 0.5s;
          font-size: 1.2em;
          background-size: 200% auto;
          color: #ffff;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

          border-radius: 0.4em;
          svg {
            margin-right: 0.3em;
            font-weight: 700;
            font-size: 1.5em;
          }
          &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
          }
        }
        > button:nth-child(2) {
          margin-left: 2em;
          background-image: linear-gradient(
            to right,
            #f857a6 0%,
            #ff5858bb 51%,
            #f857a6 100%
          );
        }
      }
      .SocialIconContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 1em 0 0.6em 0;
        span {
          margin-right: 0.8em;
          font-size: 1.2em;
        }
        a {
          color: $dark-grey;
          margin-right: 0.6em;
          padding: 0.5em 0.5em 0.2em 0.48em;
          transition: all 0.3s;
          border-radius: 50%;
          border: 0.04em solid $light-grey;
          &:hover {
            border-radius: 50%;
            color: #ffffff;
            background-color: #da5e34;
          }
        }
        :nth-child(2) {
          &:hover {
            background-color: #2fb0e3;
          }
        }
        :nth-child(3) {
          &:hover {
            background-color: #4d69a3;
          }
        }
        :nth-child(5) {
          &:hover {
            background-color: #4d69a3;
          }
        }
      }
    }
  }
}
