@import '../../../index.scss';

.Container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 90%;
  padding: 0em 1em 1em 1em;
  .LeftWrapper {
    width: 60%;
    max-width: 60%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .Stepper {
      width: 80%;
      margin-bottom: 0.4em;
      > div {
        > div {
          > span {
            > span {
              > svg {
                > circle {
                  padding: 0.6em;
                }
                > text {
                  fill: #ffff;
                  font-size: 0.58em;
                  font-weight: 600;
                }
              }
            }
            > span:nth-child(2) {
              > span {
                font-size: 1.1em;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .LeftContainer {
      padding: 0.6em 3em 2em 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffff;
      width: 85%;

      .OrderSummary {
        width: 80%;
        margin-left: -4em;
        height: 80vh;
        .Heading:nth-child(2) {
          margin-top: 0.6em;
          border-top: none;
        }
        .Heading {
          font-size: 1.3em;
          font-weight: 600;
          color: $dark-grey;
          margin-top: 0.6em;
          margin-bottom: 0.4em;
          padding-top: 0.6em;
          border-top: 1px solid $light-grey;
          .Content {
            margin-left: 0.2em;
            font-size: 0.9em;
            font-weight: 500;
          }

          .User {
            display: flex;
            align-items: center;
            font-size: 0.75em;
            margin: 0.2em 0em 0.1em 0.2em;
            font-weight: 600;

            .Content {
              margin-left: 0.4em;
              font-size: 1.1em;
            }
          }
          .User:nth-child(4) {
            display: flex;
            align-items: flex-start;
            .Content {
              width: 65%;
            }
          }
        }
        .Heading:nth-child(1) {
          display: flex;
          align-items: center;
          border-top: none;
          .Content {
            margin-left: 0.4em;
            font-weight: 600;
            font-size: 1.06em;
            text-decoration: underline;
            letter-spacing: 0.02em;
          }
        }
        .Heading:nth-child(3) {
          .Content {
            font-weight: 600;
            font-size: 1.04em;
          }
        }

        .ItemsList {
          height: 35%;
          overflow-x: hidden;
          overflow-y: auto;
          width: 120%;
          border: 1px solid $light-grey;
          .OrderItems {
            display: flex;
            width: 110%;
            margin-left: 0em;
            border-bottom: 1px solid $light-grey;
            padding: 0.6em 0.4em;
            img {
              width: 8%;
              border-radius: 0.1em;
            }
            > a {
              text-decoration: none;
              margin-left: 1.2em;
              font-size: 1.1em;
              margin-top: 0.4em;
              color: #000000;
              font-weight: 600;

              width: 45%;
              &:hover {
                color: $primary-color;
              }
            }
            > span {
              margin-left: 1em;
              width: 30%;
              font-weight: 600;
              font-size: 1.1em;
              margin-top: 0.4em;
            }
          }
          .OrderItems:last-child {
            border: none;
          }
        }
      }
    }
  }
  .RightWrapper {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5em;
    width: 25%;
    .RightContainer {
      width: 100%;
      border: 1px solid $light-grey;
      border-bottom: none;
      background-color: #ffff;
      box-shadow: $shadow1;
      > p:nth-child(1) {
        padding: 1em;
        font-size: 1.2em;
        color: $mid-grey;
        font-weight: 600;
        border-bottom: 1px solid $light-grey;
      }
      > div:nth-child(2) {
        padding: 1em 1.6em 0.2em 1.6em;
        > p {
          margin-bottom: 0.76em;
          font-size: 1.16em;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-weight: 600;
            color: $primary-color;
          }
        }
        > p:nth-child(4) {
          font-size: 1.2em;
          padding: 0.6em 0;
          border-top: 1.6px dashed $light-grey;
          border-bottom: 1.6px dashed $light-grey;
          font-weight: 600;
        }
      }
      .PayButton {
        height: 10%;
        margin: 0 1em;
      }
    }
    > span:nth-child(2) {
      margin-top: 1.2em;
      margin-left: 0.2em;
      display: flex;
      align-items: center;
      svg {
        font-size: 2em;
        margin-right: 0.1em;
        color: $mid-grey;
      }
      > p {
        font-size: 1em;
        color: $mid-grey;
        font-weight: 600;
      }
    }
  }
}

.Alert {
  max-height: 2.6em;
  display: flex;
  width: 50%;
  align-items: center;
  overflow: hidden;
}
