@import '../../../../App.scss';

.FilterByPrice {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  .Root {
    color: $mid-grey;
    height: 0.3em;
    &:hover {
      color: $dark-grey;
    }
  }
  .Thumb {
    height: 1em;
    width: 1em;
    background-color: $primary-color;
    margin-top: -7px;
    margin-left: -8px;
    &:focus,
    &:hover,
    &:active {
      box-shadow: inherit;
    }
  }

  .ValueLable {
    left: calc(-70% + 0.3em);
    color: $primary-color;
    span {
      span {
        color: whitesmoke;
        font-weight: 700;
      }
    }
  }
  .Track {
    height: 0.2em;
    border-radius: 5px;
  }
  .Rail {
    height: 0.2em;
    border-radius: 4px;
  }

  .Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    width: 100%;
    p {
      margin: 0;
      font-size: 1.03em;
    }
    button {
      padding: 0.4em 0.8em 0.4em 0.8em;
      background-color: $primary-color;
      color: #fff;
      border: 0.2em solid $primary-color;
      font-size: 0.85em;
      outline: none;
      border-radius: 0.2em;
      cursor: pointer;
      letter-spacing: 0.08em;
      transition: all 0.2s;
      &:hover {
        font-weight: 500;
        color: $primary-color;
        border: 0.2em solid $primary-color;
        background-color: #ffff;
      }
    }
  }
}
