@import '../../../../App.scss';

.ProductCard {
  cursor: pointer;
  background-color: #ffff;
  text-decoration: none;
  border-radius: 0.16em;
  display: flex;
  max-height: 40%;
  justify-content: flex-start;
  width: 100%;
  // box-shadow: $shadow2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: box-shadow 0.1s ease-in-out;
  flex-direction: column;
  // border-top: 1px solid $light-grey;
  // border-left: 1px solid $light-grey;
  &:hover .CardTopContainer > .CardTopWrapper {
    visibility: visible;
    opacity: 1;
  }
  &:hover {
    box-shadow: $shadow1;
  }
  .CardTopContainer {
    height: 28vh;
    background-size: 85% 90%;
    background-position: center;
    background-repeat: no-repeat;

    .CardTopWrapper {
      transition: all 2s;
      display: flex;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.15s linear;

      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .CardTop {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .AddToCardIcon {
          cursor: pointer;
          background-color: #ffff;
          transition: all 0.1s;
          margin: 0.6em;
          border-radius: 50%;
          color: $mid-grey;
          padding: 0.4em 0.5em;
          box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
          &:hover {
            background-color: $primary-color;
            color: #ffff;
          }
        }
      }
      .QuickView {
        display: flex;
        width: 100%;
        button {
          outline: none;
          border: none;
          color: #ffff;
          transition: background-color 100ms linear;
          background-color: $primary-color;
          opacity: 0.82;
          padding: 0.75em 0.6em;
          width: 100%;
          font-size: 0.85em;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            background-color: $primary-color;
            opacity: 0.95;
          }
        }
      }
    }
  }
  .CardBottom {
    border-top: 1px solid #eeebeb;
    max-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    .Top {
      margin: 0.2em 0.6em 0 0.6em;
      display: flex;
      justify-content: space-between;
      .Categories {
        display: flex;
        align-items: flex-start;
        // line-height: 0.9em;
        margin: 0;
        max-width: 85%;
        > button {
          border: none;
          outline: none;
          background-color: #ffff;
          color: $dark-grey;
          font-size: 1em;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          letter-spacing: 0.02em;
          text-decoration: none;
          margin: 0em 0.25em 0em 0em;
          cursor: pointer;
          &:hover {
            font-weight: 600;
            color: $primary-color;
          }
        }
      }
      .LikeIcon {
        cursor: pointer;

        transition: all 0.1s;
        border-radius: 50%;
        padding: 0.4em 0.4em 0.1em 0.4em;
        color: $mid-grey;
        box-shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
        &:hover {
          background-color: $secondary-color;
          color: #ffff;
        }
      }
    }

    .Info {
      margin: -1em 0.2em 0.2em 0.8em;
      padding: 0em 0.6em 0.8em 0em;
      p {
        margin: 0;
      }
      .Title {
        font-size: 1.2em;
        font-weight: 600;
        color: $dark-grey;
        width: 98%;
        margin: 0.2em 0em 0.3em 0em;
      }
      .Price {
        font-size: 1.26em;
        margin-bottom: 0.4;
        font-weight: 600;
        color: $dark-grey;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .ProductCard {
    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}
