@import '../../App.scss';

.MainBodyContainer {
  .MainBodyWrapper {
    display: flex;
    margin: 1.8em 0em 0.8em 0em;
    margin-right: 0;
    padding: 0em;
    max-width: 100vw;
    align-items: flex-start;
  }
}
