@import '../../../App.scss';

.MainContainer {
  margin: 0 0.2em 0 0;
  width: 100%;
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  .SortByWrapper {
    margin: -0.2em 0em 0.8em 0em;
    form {
      label {
        font-size: 1em;
        font-weight: 500;
        color: $dark-grey;
        margin-right: 0.4em;
      }
      select {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        font-size: 1em;
        color: $dark-grey;
        padding: 0.4em;
        border: 0em solid $light-grey;
        outline: none;
      }
    }
  }

  .MainGrid {
    max-width: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    .ProductContainer {
      width: 23%;
      margin-top: 1em;
    }
    .MessageContainer {
      margin: 0.6em;
    }
  }

  .PaginationWrapper {
    border-top: 0.04em solid $light-grey;
    padding: 0.8em 0 0 0;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media only screen and (max-width: 770px) {
  .MainContainer {
    .SortByWrapper {
      text-align: right;
      margin: 0em 0.3em 0 0em;
    }
    .MainGrid {
      padding: 0 0 0.8em 0;
      .ProductContainer {
        width: 85%;
      }
    }
  }
}
