@import '../../../App.scss';

.Backdrop {
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  opacity: 0.6;
  background-color: #00000066;
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.Container {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  overflow: hidden;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  box-shadow: #ffffff1a 0px 1px 1px 0px inset, #32325d40 0px 50px 100px -20px,
    #0000004d 0px 30px 60px -30px;
  .TopContainer {
    background-color: $primary-color;
    border-radius: 1em 2em 0 0;
    z-index: 1000;

    width: 100%;
    padding: 0.8em 0em 0.8em 0.6em;
    display: flex;
    color: #ffff;
    align-items: center;
    display: flex;
    justify-content: space-between;

    > p {
      margin: 0;
      margin-left: 0.4em;
      font-size: 1.26em;
      font-weight: 600;
    }

    > span {
      > svg {
        margin: 0;
        margin-left: -2em;
        transform: scale(1.4);
      }
    }
  }
  .BottomContainer {
    background-color: #ffff;
    padding: 1em 1.6em 1.6em 1.3em;
    border-radius: 1.2em 1.7em 0 0;
    width: 90%;
    height: 100%;
    z-index: 1000;

    form {
      margin-top: 0.6em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      :nth-child(1) {
        margin-bottom: 0.3em;
      }
      > div:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0.4em;
        a {
          text-decoration: none;
          font-size: 0.8em;
          color: #2b9ace;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
      }
      > button {
        margin-top: 0.6em;
        padding: 0.5em;
        border: none;
        cursor: pointer;
        outline: none;
        color: #ffff;
        font-size: 1.36em;
        border-radius: 0.2em;
        transition: all 0.2s;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: rgb(42, 227, 134);
        background: linear-gradient(
          146deg,
          rgba(42, 227, 134, 0.9110994739692753) 21%,
          rgba(0, 180, 239, 0.7654412106639531) 100%
        );
        &:hover {
          transform: scale(1.03);
          // box-shadow: #32325d40 0px 30px 60px -12px,
          //   #0000004d 0px 18px 36px -18px;
          // background: linear-gradient(
          //   280deg,
          //   rgba(42, 227, 134, 0.9110994739692753) 41%,
          //   rgba(0, 180, 239, 0.7654412106639531) 100%
          // );
        }
      }

      p {
        margin: 0.8em 0;
        font-size: 0.7em;
        letter-spacing: 0.04em;
        text-align: center;
      }
    }
    .GoogleSignIn {
      cursor: not-allowed;
      margin-top: 0.6em;
      width: 100%;
      padding: 0.5em;
      border: none;
      outline: none;
      color: #ffff;
      font-size: 1.2em;
      border-radius: 0.2em;
      transition: all 0.2s;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      display: flex;
      margin: 0.2em 0;
      justify-content: center;
      align-items: center;
      border: 1px solid $blue-theme;
      color: $blue-theme;
      background-color: #ffff;
      font-size: 1.1em;
      &:hover {
        transform: scale(1.03);

        // box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
      }
      svg {
        margin-right: 0.6em;
        margin-bottom: 0.1em;
      }
    }
    .RegisterHere {
      font-size: 1em;
      margin-top: 0.6em;
      a {
        text-decoration: none;
        color: #2b9ace;
        font-weight: 600;
        cursor: pointer;
        font-size: 1em;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
