$primary-color: #4dae65;

$secondary-color: #ff5b5b;

$blue-theme: #40add8;
$blue-color: #40add8;

$light-grey: #d4d4d4;

$mid-grey: #7a7979;

$white-grey: #f1f3f6;

$dark-grey: #35373de5;

$shadow1: #00000059 0px 5px 15px;
$shadow2: #00000026 1.95px 1.95px 2.6px;
$shadow3: #ffffff1a 0px 1px 1px 0px inset, #32325d40 0px 50px 100px -20px,
  #0000004d 0px 30px 60px -30px;
