@import './App.scss';
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: $mid-grey $light-grey;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $white-grey;
}

*::-webkit-scrollbar-thumb {
  background-color: #cececed2;
  border-radius: 20px;
}
