@import '../../../App.scss';

.NavBar {
  display: flex;
  padding: 0.6em 2.8em;
  border: 0.04em solid $light-grey;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  .LeftMenu {
    display: flex;
    .AllDepartments {
      display: flex;
      align-items: center;
      color: $primary-color;
      font-size: 1.2em;
      font-weight: 600;
      border: 1px solid #cfcdcd;
      border-top: none;
      border-bottom: none;
      padding: 0em 0.8em;
      margin: -0.5em 0;
      transition: all 0.18s;
      &:hover {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-top: none;
        border-bottom: none;
        color: #ffffff;
        cursor: pointer;
      }
      :nth-child(1) {
        margin-right: 0.2em;
      }
    }

    .MainMenu {
      margin-left: 0.6em;
      width: 48vw;
      display: flex;
      list-style-type: none;
      align-items: center;
      font-size: 1.1em;
      font-weight: 600;

      a {
        padding: 0.4em 0.8em;
        transition: all 0.1s;
        text-decoration: none;
        color: $dark-grey;
        &:hover {
          cursor: pointer;
          color: $primary-color;
        }
      }
    }
  }

  .RightMenu {
    margin-right: 3.5em;
    display: flex;
    width: 16vw;
    justify-content: flex-end;
    border-left: 0.04em solid $light-grey;
    margin: -0.6em -1em -0.6em 1em;
    a {
      color: $dark-grey;
      font-size: 1.2em;
      font-weight: 600;
      text-decoration: none;
      color: #3a3636;
      padding: 0.4em;
      margin: 0.6em 0;

      &:hover {
        color: $primary-color;

        .OffersMenu {
          :nth-child(1) {
            color: $primary-color;

            transform: scale(1.06);
          }
        }
      }
      .OffersMenu {
        display: flex;
        align-items: center;
        :nth-child(1) {
          transition: all 0.2s;

          margin-right: 0.1em;
        }
      }
    }
  }
}
